services:
  backend:
    build: .
    container_name: spring-backend
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/time-tracker
      DB_USER: test
      DB_PASSWORD: test
      SPRING_PROFILES_ACTIVE: dev
    depends_on:
      - postgres

  postgres:
    image: postgres:18
    container_name: postgres-db
    environment:
      POSTGRES_DB: time-tracker
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
